body {
    background-color:grey;
    font-size: 1.75rem;
}

h1 {
    text-align: center;
}

#start {
    width: 400px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.question-slide {
    width: 400px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.question {
    padding: 1rem;
    font-size: 2rem;
}

.options {
    display: inline-block;
}

.options label {
    display: block;
    padding-bottom: 1rem;
    /*width: 100%;*/
}

.hidden {
    display: none;
}

#buttons {
    margin: 0 auto;
    text-align: center;
}

.shown {
    display: inline-block;
}